
TradeService/bin/Debug/netcoreapp3.1/TradeService.pdb
TradeService/bin/Debug/netcoreapp3.1/TradeService.exe
TradeService/bin/Debug/netcoreapp3.1/TradeService.dll
MarketService/bin/Debug/netcoreapp3.1/MarketService.pdb
MarketService/bin/Debug/netcoreapp3.1/MarketService.dll
